.venv
.env

# Python cache
__pycache__/
*.py[cod]

# Ignore data artifacts
data/chunks/*.npy
data/chunks/*.index
data/chunks/embeddings.npy
data/chunks/faiss.index
data/chunks/*.json
data/chunks/tfidf_cache/*.npz
data/chunks/tfidf_cache/*.npy
data/chunks/tfidf_cache/*.pkl
data/chunks/tfidf_cache/*.json


# Ignore system files
*/.DS_Store
